<!DOCTYPE html>
<html style="height: 100%;">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{!-- <link rel="icon" type="image/png" href="/img/icon.128x128.png" /> --}}
  <link rel="stylesheet" href="/css/uikit.min.css" />

  <script src="/js/zepto.min.js"></script>
  <script src="/js/uikit.min.js"></script>
  <script src="/js/uikit-icons.min.js"></script>

  <title>{{ title }}</title>
</head>
<body class="uk-animation-fade uk-height-1-1">

  {{{ body }}}

</body>
</html>
